.container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    

}
.item{
    height: 100vh;
}
.item1{
    font-family: 'Dancing Script', cursive;
font-family: 'Merriweather', serif;
display:flex;
flex-direction: column;
margin-top: 200px;
align-items: center;
color:black;
}
img{
    height: 500px;
}
.item2{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-decoration: underline;
    padding: 10px;
}
body{
    background-image:url(./title-page4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}